<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>

    <link rel = 'stylesheet' href = '/static/styles.css' />
</head>
<body>
    <h1>This is {{name}} Table</h1>
    <h3>The grade for the {{name}} is: {{final_score}}</h3>
    <div>
      <table class="table">
          <tr class = 'table__header'>
            {% for header in headings %}
            <th class = 'table__cell'>{{ header }}</th>
            {% endfor %}
          </tr>

          {% for row in data %}
              <tr class="table__row">
                {% for cell in row %}
                  {% if cell in property_list%}
                        <td class="table__cell"><a href = "{{url_for(reference, prop_na = cell )}}">{{ cell }}</a></td>
                  {% else %}
                        <td class="table__cell">{{ cell }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
          {% endfor %}
      </table>
    </div>

    <div>
        <h3>The following table shows the detailed elements</h3>
        <table class="table">
          <tr class = 'table__header'>
            {% for header in properties %}
            <th class = 'table__cell'>{{ header }}</th>
            {% endfor %}
          </tr>

          {% for row in elementlist %}
              <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
              </tr>
          {% endfor %}
        </table>
    </div>

    <div>
        {% if ge_headings %}
        <h3>The following table shows the absolute geometry of {{name}}</h3>
         <table class="table">
          <tr class = 'table__header'>
            {% for header in ge_headings %}
            <th class = 'table__cell'>{{ header }}</th>
            {% endfor %}
          </tr>

          {% for row in ge_data %}
              <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
              </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>


</body>
</html>