<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div>
        {% if data %}
            <h3>the table shows the elements don't have {{title}} quantity</h3>
        {% else %}
            <h3>the table shows the element lists</h3>
        {% endif %}
    </div>
    <div>
        <ul>
            {% for each in data%}
            <li>{{each}}</li>
            {% endfor %}
        </ul>

    </div>
    <div>
        {% if title =='Materiallayerconstruction' %}
            <ul>
                {% for each in ma_list %}
                    <li><a href = "{{url_for(reference,ma = each)}}">{{each}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>