<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>

    <link rel = 'stylesheet' href = '/static/styles.css' />
</head>
<body>
    <div>
        <h3>The final grade for the ifc is: {{score}}</h3>
    </div>
    <div>
      <table class="table">
            <tr class = 'table__header'>
                {% for header in headings %}
                <th class = 'table__cell'>{{header}}</th>
                {% endfor %}
            </tr>

            {% for row in data %}
              <tr class="table__row">
                {% for cell in row %}
                  {% if cell in entities%}
                     <td class = 'table__cell'><a href = {{url_for(cell)}}>{{ cell }}</a></td>
                  {% else %}
                     <td class="table__cell">{{ cell }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}

      </table>
    </div>

</body>
</html>